* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
header {
    background-image: url(../images/tree.jpg);
    background-repeat: no-repeat;
    max-width: 960px;
    height: 200px;
    margin: 0 auto;
}
header h1 {
    color: #fff;
    padding: 1rem 0 0 1rem;
    text-shadow: 2px 2px 5px #000;
}
header h2 {
    color: #fff;
    padding: 1rem 0 0 1rem;
    text-shadow: 2px 2px 5px #000;
}
main {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    color: #3CB371;
    margin: 0;
    padding: 1rem 0 0 1rem;
    font-weight: 600;
}
h2 {
    color: #3CB371;
    margin: 0;
    padding: 1rem 0 0 1rem;
    font-weight: 600;
}
p {
    margin: 0;
    padding: 1rem;
    font-size: 16px;
}
footer {
    width: 960px;
    height: 35px;
    margin: 0 auto;
    color: #fff;
    background-color: #3CB371;
    text-align: center;
    clear: both;
}
footer p {
    font-size: 14px;
    padding-top: 9px;
}

/* Arborist Styles */
#manipulate_trees {
    float: left;
    width: 50%;
}
#manipulate_trees button {
    width: 250px;
    font-size: 1rem;
    border-radius: 5px;
    margin: .25rem;
    padding: .25rem;
}
#manipulate_trees button:hover {
    background-color: #3CB371;
    color: #fff;
}
#tree_list {
    float: left;
    width: 50%;
}
#tree_list h2 {
    padding-left: 0;
}
#displayResults {
    background-color: #f2f2f2;
    padding: 1rem;
}
main div#displayResults span { 
    font-weight: 600;
    border-top: 1px solid #000;
}
#error {
    color: red;
    font-weight: 600;
    margin-top: 1rem;
}