* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
header {
    background-image: url();
    background-repeat: no-repeat;
    max-width: 960px;
    height: 200px;
    margin: 0 auto;
}
header h1 {
    color: #fff;
    padding: 1rem 0 0 1rem;
    text-shadow: 2px 2px 5px #000;
}
header h2 {
    color: #fff;
    padding: 1rem 0 0 1rem;
    text-shadow: 2px 2px 5px #000;
}
main {
    max-width: 960px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
h1 {
    color: #820e57;
    margin: 0;
    padding: 1rem 0 0 1rem;
    font-weight: 600;
}
h2 {
    color: #820e57;
    margin: 0;
    padding: 1rem 0 0 1rem;
    font-weight: 600;
}
p {
    margin: 0;
    padding: 1rem;
    font-size: 16px;
}
footer {
    width: 960px;
    height: 35px;
    margin: 0 auto;
    color: #fff;
    background-color: #820e57;
    text-align: center;
}
footer p {
    font-size: 14px;
    padding-top: 9px;
}

/* Game Section Styles */
/* #flex {
    display: flex;
    justify-content: space-evenly;
    height: 225px;
    padding-bottom: 2rem;
    background-color: #d3d3d3;
}
#flex h2 {
    text-align: center;
    padding: 0;
}
#guess {
    margin-top: .5rem;
    font-size: 1.5rem;
    width: 120px;
    text-align: center;
    border: 1px solid #000;
}
button {
    margin-top: 0;
    height: 30px;
    width: 75px;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    background-color: #0EBFE9;
    border-radius: 5px;
}
#attempts {
    font-size: 2rem;
    text-align: center;
}
#feedback {
    text-align: center;
} */